<%- include('partials/header.ejs') %>

<div class="container-fluid mt-3">
  <h4>Inventory</h4>
  <ol class="list-group list-group-numbered">
    <% inventory.forEach(data=>{ %>

    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">
          <a href="inventory/<%= data.id %>"><%= data.name %></a>
        </div>
        <div class="fw-bold">
          <a>$<%= data.price %></a>
        </div>
      </div>
      <span class="badge bg-primary rounded-pill"><%= data.count %></span>
    </li>
    <% }) %>
  </ol>
</div>
<input type="hidden" id="url" value="<%= url %>" />
<input type="hidden" id="proto" value="<%= proto %>" />
<%- include('partials/footer.ejs') %>
